*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  #dfe3ee;
    height: 100vh;
    width: 100vw;
    font-family: Helvatica, Arial, sans-serif;
}
.head{
    float: left;
    /* font-size:20px;0 */
    margin-top: 30vh;
    margin-left: 15vw;
}
h1{
    color:#0864db;
    font-weight: bolder;
    font-size: 80px;
}

div{
    float: right;
   
}
form{
    /* border: 2px solid black; */
    /* box-shadow: 5px 5px 5px 5px white; */
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.70);
-webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    width: 450px;
    margin-top: 15vh;
    margin-right: 10vw;
    background-color: white;
    height: 450px;
    text-align: center;
    border-radius: 10px;
}
input{
    font-size: 18px;
    /* margin-top: 10px; */
    margin: 18px;
    /* text-align: center; */
    border-radius: 10px;
    width: 90%;
    padding-left:5px;
    border: 1px solid gray;
    /* border: none; */
    outline: none;
    /* box-shadow: 2px 2px 3px; */
    height: 60px;
 }
 input:focus{
     border: 2px solid blue;
 }
button{
    background-color: #0864db;
     color: white;
     font-size: 20px;
     text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 90%;
    border-radius: 7px;
    border: none;
    height: 60px;
} 
button:hover{
    background-color:#075cca ;
}
 
p{
    
    padding: 10px;
    color: #0864db;
}
p:hover{
    text-decoration: underline;
}
hr{
    margin:10% auto 0px auto;
    width: 95%;
   
}
.new{
    text-align: center;
    margin-top: 20px;
    width: auto;
    padding: 15px;
    background-color: limegreen;
}
.new:hover{
    background-color: rgb(6, 141, 6);
}
/* ::placeholder{
    font-size: 20px;
    margin-right: 100px;
    padding-left: -40px;
} */